<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <style>
#chart-container {
  width: 100%;
  height: 100%;

}
    </style>
  </head>
  <body>
    <div id="chart-container">
      <canvas id="thchart"></canvas>
    </div>

  <script>
    var ctx = document.getElementById("thchart").getContext("2d");

    chart_data = {{ chart_data|tojson|safe }};

    var thchart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: chart_data.labels,
        datasets: [
          {
            label: 'Temperature',
            yAxisID: 'temperature',
            data: chart_data.temperature_values,
            borderColor: 'rgba(255, 0, 0)',
            pointRadius: 2,
            hitRadius: 3,
          },
          {
            label: 'Humidity',
            yAxisID: 'humidity',
            data: chart_data.humidity_values,
            borderColor: 'rgba(0, 0, 255)',
            pointRadius: 2,
            hitRadius: 3,
          },
        ],
      },
      options: {
        scales: {
            yAxes: [
              {
                id: 'humidity',
                type: 'linear',
                position: 'right',
                suggestedMin: 0,
                suggestedMax: 100,
                gridLines: {
                  color: 'rgba(0, 0, 150)',
                },
              },
              {
                id: 'temperature',
                type: 'linear',
                position: 'right',
                gridLines: {
                  color: 'rgba(150, 0, 0)',
                },
              },

            ],
        }
      }
    });
  </script>
  
  </body>
</html>
